---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import FeatureSection from "../components/features.astro";
import Hero from "../components/hero.astro";
import Layout from "../components/layout.astro";
import Mission from "../components/mission.astro";
import ContactUs from "../components/contact-us.astro";
import Solutions from "../components/solutions.astro";
import Vision from "../components/vision.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MedSimpl</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <Layout>
      <Navbar />
      <main class="pt-16">
        <Hero />
        <FeatureSection />
        <Solutions />
        <Vision />
        <Mission />
        <ContactUs />
      </main>
      <Footer />
    </Layout>
  </body>
</html>