---

---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block">
        <!-- <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="18302e52-9e2a-4c8e-9550-0cbb21b38e55" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#18302e52-9e2a-4c8e-9550-0cbb21b38e55)" width="52" height="24"></rect>
        </svg> -->
        <span class="relative text-3xl sm:text-4xl lg:text-5xl xl:text-6xl">Why We Exist</span>
      </span>
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Healthcare providers face critical challenges that prevent them from
      focusing on what matters most-patient care.
    </p>
  </div>
  <div class="gap-4 flex flex-wrap items-stretch justify-center">
    <div class="flex flex-col justify-between p-5 border border-gray-300 rounded-xl max-w-xs">
      <div>
        <div
          class="flex items-center justify-center w-16 h-16 mb-6 rounded-full "
        >
          <img src="/imgs-feats/img1.png" alt="Patient Journey Icon" class="w-16 h-16"/>  
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-xl">Patient Journeys Are Confusing</h6>
        <p class="mb-3 text-sm text-gray-900">
          Long waits, scattered records, and unclear processes make healthcare overwhelming.
        </p>
      </div>
      
    </div>
    <div class="flex flex-col justify-between p-5 border border-gray-300 rounded-xl max-w-xs">
      <div>
        <div
          class="flex items-center justify-center w-16 h-16 mb-6 rounded-full "
        >
          <img src="/imgs-feats/img2.png" alt="Patient Journey Icon" class="w-16 h-16"/>  
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-xl">Hospital Workflows Are Chaotic</h6>
        <p class="mb-3 text-sm text-gray-900">
          Staff spend too much time on manual tasks and firefighting errors.
        </p>
      </div>
      
    </div>
    <div class="flex flex-col justify-between p-5 border border-gray-300 rounded-xl max-w-xs">
      <div>
        <div
          class="flex items-center justify-center w-16 h-16 mb-6 rounded-full "
        >
          <img src="/imgs-feats/img3.png" alt="Patient Journey Icon" class="w-16 h-16"/>  
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-xl">Information Is Hard to Access</h6>
        <p class="mb-3 text-sm text-gray-900">
          Patients and staff struggle to find and understand critical health data
        </p>
      </div>
      
    </div>
    <div class="flex flex-col justify-between p-5 border border-gray-300 rounded-xl max-w-xs">
      <div>
        <div
          class="flex items-center justify-center w-16 h-16 mb-6 rounded-full "
        >
          <img src="/imgs-feats/img4.png" alt="Patient Journey Icon" class="w-16 h-16"/>  
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-xl">Complexity Slows Care</h6>
        <p class="mb-3 text-sm text-gray-900">
          Fragmented processes lead to delays and lower-quality outcomes.
        </p>
      </div>
      
    </div>
    <div class="flex flex-col justify-between p-5 border border-gray-300 rounded-xl max-w-xs">
      <div>
        <div
          class="flex items-center justify-center w-16 h-16 mb-6 rounded-full "
        >
          <img src="/imgs-feats/img5.png" alt="Patient Journey Icon" class="w-16 h-16"/>  
        </div>
        <h6 class="mb-2 font-semibold leading-5 text-xl">Medsimpl Makes It Effortless</h6>
        <p class="mb-3 text-sm text-gray-900">
          We streamline workflows, organize records, and simplify every step of care.
        </p>
      </div>
      
    </div>
  </div>
</div>
