---

---

<footer class="bg-white mt-10 mb-5 lg:mt-20">
  <div class="mx-auto max-w-screen-xl px-4 pt-2 pb-8 sm:px-6 lg:px-20 rounded-xl bg-cyan-700">

    <div class="mt-16 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-32">
      <div class="mx-auto max-w-sm lg:max-w-none">
        <p class="mt-4 text-center text-white lg:text-left lg:text-lg">
          MeSimpl acts like a growth engine that streamlines operations, enhances patient care, and delivers data-driven insights for hospitals and clinics.
        </p>
      </div>

      <div class="flex justify-center lg:justify-end text-center lg:text-right">
        <div>
          <strong class="font-medium text-white"> About us </strong>

          <ul class="mt-6 space-y-1">
            <li>
              <a class="text-white transition hover:text-white/75" href="#"> Team </a>
            </li>

            <li>
              <a class="text-white transition hover:text-white/75" href="#contact">
                Contact us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-16 border-t border-gray-100 pt-12 flex flex-col items-center gap-4">
      <img src="/med-simpl-logo.png" />
      <p class="text-center text-xs/relaxed text-white">
        © MEDSIMPL HEALTHCARE PRIVATE LIMITED 2025. All rights reserved.
      </p>
    </div>
  </div>
</footer>