---
import TextContent from "./text-content.astro";
---

<!-- <TextContent
  element="h3"
  variant="30-48"
  className="px-5 text-center font-bold text-gray-400 text-3xl sm:text-4xl lg:text-5xl xl:text-6xl"
>
  Making{'  '}
  <span
    class="bg-[linear-gradient(50deg,_#22D3EE_45.43%,_#0C4A6E_99.84%)] bg-clip-text bg-no-repeat text-transparent [text-shadow:0_0_rgba(0,0,0,0.1)]"
  >
    Health Simple
  </span>
</TextContent> -->
<section id="mission" class="py-8 lg:py-12 flex justify-center">
  <div
    class="overflow-hidden bg-gradient-to-r from-gray-100 via-gray-50 to-white mx-4 sm:mx-8 flex flex-col-reverse md:flex-row max-w-6xl w-full rounded-xl items-center min-h-[400px]"
  >
    <div class="flex-1 px-4 sm:px-6 lg:px-10 py-8 sm:py-12">
      <h2 class="text-xl sm:text-2xl lg:text-3xl xl:text-5xl font-semibold text-gray-800">
        Our Mission
        <!-- <span class="text-blue-500">Idea</span> -->
      </h2>

      <p class="mt-4 text-gray-500">
        To lighten the administrative burden on caregivers and empower hospital
        staff to focus on care, not paperwork. We believe healthcare providers
        should spend their time healing, not handling manual processes.
      </p>

      <div class="flex gap-6 w-full mt-6">
        <span class="flex flex-col items-start">
          <TextContent element="span" variant="24-32" text="50%" />
          <TextContent
            element="span"
            variant="16-20"
            text="Less Paperwork"
            className="text-gray-700"
          />
        </span>

        <span class="flex flex-col items-start">
          <TextContent element="span" variant="24-32" text="2x" />
          <TextContent
            element="span"
            variant="16-20"
            text="Faster Onboarding"
            className="text-gray-700"
          />
        </span>
      </div>
    </div>
    <div class="w-full sm:w-2/5 lg:w-1/2 flex-shrink-0">
      <div
        class="h-full min-h-[300px] sm:min-h-[400px] lg:min-h-[29rem] bg-cover bg-center"
        style="background-image:url('mission.webp')"
      >
      </div>
    </div>
  </div>
</section>
